{% if user.is_authenticated %}
  <p>User: <a href="{% url 'taxi:driver-detail' user.id %}">{{ user.username }}</a></p>
  <form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% else %}
  <p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
<ul class="sidebar-nav">
  <li><a href="{% url "taxi:index" %}">Home page</a></li>
  <li><a href="{% url "taxi:manufacturer-list" %}">Manufacturers</a></li>
  <li><a href="{% url "taxi:car-list" %}">Cars</a></li>
  <li><a href="{% url "taxi:driver-list" %}">Drivers</a></li>
</ul>
